body {
    font-family: 'Prompt', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}

.first-section {
    display: flex;
    margin: 10px 100px;
}
.orange-color {
    color: orange;
}

.sixty-percent {
    width: 50%;
}
.fourty-percent {
    padding: 50px;
    width: 30%;
}

.heading-line {
    padding-left: 10px;
    border-left: 5px solid;
    border-image: linear-gradient(red, tomato);
    border-image-slice: 1;
}

.link-button {
    text-decoration: none;
    background-color: tomato;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.secon-h2 {
    text-align: center;
}
.second-section {
    display: flex;
    margin: 10px 100px;
}
.second-img {
    width: 50%;
}
.card {
    background-color: aliceblue;
    padding: 20px 40px;
    border-radius: 10px;
    margin-right: 20px;
    height: 400px;
    width: 300px;
}

.third-section {
    display: flex;
    margin: 40px 100px;
}
.third-img{
    width: 30%;
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
}
.third-div {
    margin-left: 40px;
}